{% extends 'layout.html' %}

{% block title %}{{ super() }} - Generar una denuncia{% endblock %}

{% block main %}
    <section class="is-primary is-fullheight">
        <div class="hero-body">
            <div class="container">
                <div class="columns is-centered">
                    <div class="column is-5-tablet is-6-desktop is-6-widescreen">
                        <h1 class="title">Formulario de envío</h1>
                        <p class="subtitle">Denuncia de {{ session['nombre'].upper() }} con DNI {{ session['dni'] }}</p>
                        <form action="" class="box" method="POST" enctype=multipart/form-data>
                        <div class="field">
                            <div class="control">
                                <input type="file" id="imagen" name="imagen" class="input" required>
                            </div>
                        </div>
                        <div class="field">
                            <div class="control">
                                <textarea class="textarea" id="texto" name="texto" placeholder="Texto de la denuncia, ej: Me han robado el bolso, etc..."></textarea>
                            </div>
                        </div>
                        <div class="field">
                            <button class="button is-success">
                                <span class="icon is-small">
                                    <i class="fas fa-sign-in-alt"></i>
                                </span>
                                <span>Enviar denuncia</span>
                            </button>
                        </div>
                        </form>
                        {% if error %}
                            <div class="notification is-warning">
                                <button class="delete"></button>
                                No se han podido enviar los datos o ya existen
                        {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}